<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>ArticleBoardTest</h1>
<form id="testForm" name="testForm" action="/testInsert" method="POST">
    <input type="number" id="testId" name="testId"  placeholder="아이디 입력"/>
    <input type="text" id="testName" name="testName" placeholder="네임 입력" />
    <button type="submit">submit</button>
</form>

<form id="formBody" name="formBody" action="/deleteList"  method="POST">
    <button type="submit">선택삭제</button>
    <table>
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    name
                </th>
                <th>
                    삭제<input type="checkbox" name=""  />
                </th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="article : ${articleList}">
                <td th:text="${article.articleId}"></td>
                <td th:text="${article.articleTitle}"></td>
                <td th:text="${article.articleId}"></td>
            </tr>

        </tbody>

    </table>
</form>
</body>

<button id="articelWrite" type="button">
    글쓰기
</button>

<script type="application/javascript">
    $("#articelWrite").on("click",function(){
        window.location.href="/articleWrite";
    });

    $(document).ready(function(){


    });
</script>

</html>