<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>ArticleBoardTest</h1>

<form id="formBody" name="formBody" action="/deleteList"  method="POST">
   <!-- <button type="submit">선택삭제</button>-->
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="article : ${articleList}"  class="articleBody" th:attr="data-rowid=${article.articleId}" >
                <td th:text="${article.articleId}"></td>
                <td th:text="${article.articleTitle}"></td>
                <td th:text="${article.articleWriter}"></td>
                <td th:text="${#temporals.format(article.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>

<button id="articelWrite" type="button">
    글쓰기
</button>

<script type="application/javascript">
    $(document).ready(function(){

        //글쓰기 버튼 클릭시
        $("#articelWrite").on("click",function(){
            window.location.href="/articleWrite";
        });

        //게시글 클릭시
        $(".articleBody").on("click",function(){
            const articleId = $(this).data("rowid");

            window.location.href = "/articleView?articleId=" + articleId;
        });

    });
</script>

</html>