<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en">

    <body>
    <h1> 게시글 상세 테스트</h1>

    <form method="POST" action="/" id="articleForm" name="articleForm">

        <input type="hidden" id="articleId" name="articleId" th:value="${articleData.articleId}">

        <label for="articleTitle">제목</label><input type="text" id="articleTitle" name="articleTitle" th:value="${articleData.articleTitle}"  readonly>

        <label for="articleContent">내용</label><input type="text" id="articleContent" name="articleContent"  th:value="${articleData.articleContent}"  readonly>

        <label for="articleWriter">작성자</label><input type="text" id="articleWriter" name="articleWriter"  th:value="${articleData.articleWriter}"  readonly>
    </form>


    <label for="createdDate">작성일자</label><input type="text" id="createdDate" name="createdDate"  th:value="${#temporals.format(articleData.createdDate , 'yyyy-MM-dd HH:mm:ss')}" readonly>


    <form method="POST" action="/" id="commentForm" name="commentForm">
        <input type="hidden" id="commentWriter" name="commentWriter" value="테스트댓글작성자">
        <textarea  id="commentContent" name="commentContent" placeholder="댓글 내용을 입력해 주세요."></textarea>

        <button type="button" id="commentGoInsert" name="commentGoInsert">댓글 등록</button>
    </form>

    <h2>댓글리스트 테스트</h2>
    <ul id="commentList" name="commentList">
    </ul>


    <br/>
    <button id="articleGoModify" name="articleGoModify" > 글 수정</button>
    <button id="articleGoDelete" name="articleGoDelete" > 글 삭제</button>
    <button id="articleGoList" name="articleGoList" > 목록</button>

    </body>

    <script>
        $('document').ready(function(){

            //댓글 리스트 호출
            getCommentList();


            //글 수정
            $("#articleGoModify").on("click",function (e){
                var articleId = $("#articleId").val();
                if(!confirm("글을 수정하시겠습니까?")){
                    e.preventDefault();
                }else{
                    window.location.href = "/articleWrite?articleId=" + articleId;
                }
            });

            //글 삭제
            $("#articleGoDelete").on("click",function (e){
                if(!confirm("글을 삭제하시겠습니까?")){
                    e.preventDefault();
                }else{

                    var articleId = $("#articleId").val();
                    var articleForm = $("#articleForm");


                    if(articleId != null){
                       articleForm.attr("action","/articleDelete");
                       articleForm.submit();

                    }else{
                        alert("게시글 정보를 찾을 수 없습니다.");
                    }


                }
            });

            //목록으로 돌아가기
            $("#articleGoList").on("click",function(){
                window.location.href = "/articleList";
            })

            //댓글 등록
            $("#commentGoInsert").on("click",function(e){
                if(confirm("댓글을 등록하시겠습니까?")){
                    var commentContent = $("#commentContent").val();
                    var articleId = $("#articleId").val();
                    var commentWriter = $("#commentWriter").val();

                    if(!commentContent.trim()){
                        alert("댓글 내용을 입력해 주세요");
                        return;
                    }

                    $.ajax({
                        type : "POST",
                        url : "/insertComment" ,
                        data : JSON.stringify({
                            commentContent : commentContent,
                            commentWriter : commentWriter,
                            articleId : articleId
                        }),
                        contentType : "application/json",

                        success :function (response){
                            alert("댓글이 등록되었습니다,");
                            getCommentList();

                        },
                        error : function (e){
                            alert("댓글 등록에 오류가 발생했습니다.");
                            console.log("e : " + e.responseText);
                        }
                    })


                }else{
                    e.preventDefault();
                }
            });

            //댓글 리스트 가져오기
            function getCommentList(){

                var commentList = $("#commentList");
                var articleId = $("#articleId").val();

                //댓글 불러오기전에 비우기
                commentList.empty();

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url : "/getCommentList",
                    data : JSON.stringify({
                        articleId : articleId
                    }),
                    success : function(response){
                        $.each(response , function(index , comment){
                            commentList.append("<li>"+comment.commentContent + "</li>")
                            commentList.append("<li>"+comment.createdDate + "</li>")
                            $("#articleContent").empty()


                        });
                    } ,
                    error : function(e){
                        alert("댓글 리스트를 불러오는데 실패했습니다.");
                        console.log("error : " + e.responseText);
                    }

                    }
                )
            }


        });

    </script>
</html>